/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
body {
    background-color: #f4f4f4; /* A light grey background */
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
}


hr {
 border: 1px solid #ccc;
 margin: 20px 0; 
 
}


a {
    text-decoration: none;
    display: inline-block;
}

h1 img {
    width: 100%;
    display: block;
    height: auto; 
}
img {
    width: 250px;
    height: 250px;
    display: inline;
    border-radius: 4px; 
    
}




img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
